<router-outlet></router-outlet>
<!-- ==== -->
<!-- Getting Started with Firebase 9 #1 -->
<!-- https://www.youtube.com/watch?v=9zdvmgGsww0&list=PL4cUxeGkcC9jERUGvbudErNCeSZHWUVlb -->
<!-- ==== -->
<!-- How to connect angular and firebase database | Angular firebase tutorial | part 1 -->
<!-- https://www.youtube.com/watch?v=O0uVYhRE850&list=PL1UHgDbN7Tm4SZ6yLE9yDI-YDtf02uc7d -->
<!-- ==== -->
<!-- Angular 14 with Firebase CURD Project from scratch, Notes Application Using Angular and Firebase -->
<!-- https://www.youtube.com/watch?v=7vF2gfW_VQs -->
<!-- ==== -->
<!-- Besgt Angular New Tutorials -->
<!-- https://www.youtube.com/watch?v=zK1qudPO6H8&list=PL-zhdk-KbnqCRRp117_onwoP27n4IWRgT -->
<!-- ==== -->
<!-- Angular Tutorials Series -->
<!-- https://www.youtube.com/playlist?list=PLp_RsiLZjwQTp_l8rEENKgu2Ia3LAGrSu -->
<!-- ==== -->
<!-- Dropzone or drag and drop image upload in angular (creative developer) -->
<!-- https://www.youtube.com/watch?v=tjBUkuhgV4w -->
<!-- ==== -->
<!-- image upload and preview in new window in angular -->
<!-- https://www.youtube.com/results?search_query=image+upload+and+preview+in+new+window+in+angular -->
<!-- ==== -->
<!-- Reactive Form in Angular in Hindi | Angular Tutorials (best logic) -->
<!-- https://www.youtube.com/watch?v=JdeOhDg_Ajw -->
<!-- ==== -->
<!-- ==== -->
<!-- ==== -->
<!-- ==== -->