input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(74, 65, 201);
}

.help-text {
    color: red;
    font-size: 12px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
}